.dropbtn {
  background-color: #897ddb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 300px;
  transition: 0.3s;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 150px;
  text-transform: uppercase;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  background-color: #ebd8ff;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.dropdown_content button:hover {
  background-color: #897ddb;
  color: white;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #331aa0;
}
